* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: copperPlate;
}

body {
    background-color: lightgray;
}

.header {
    height: 100%;
    background-color: gray;
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.DJSLogo {
    width:120px;
}

.button {
    background-color: gray;
    border: none;
}

.header .MenuLogo {
    width: 50px;
    height: 50px;
}

.ulNav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-direction: column;
}

.ulNav li {
    display: relative;
    list-style-type: none;
    font-size: 1.6rem;
}

.header .navBar{
    width: 100%;
    height: 0;
    pointer-events: none;
    overflow: hidden;
    transition: all .5s ease;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.header .navBar.active {
    height: 100vh;
    pointer-events: auto;
}

.ulNav li{
    margin: 1.5em;
    font-weight: 600;
}

.ulNav li a {
    color:black;
    text-decoration: none;
}

.homeSection{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(205, 148, 205), rgb(155, 148, 205));
    padding-bottom: 70px;
}

.textDJS {
    font-size: 4.5rem;
}

.title p{
    font-size: 2rem;
    font-weight: 550;
    padding-bottom: 30px;
    margin-top: -20px;
}

.demianPic {
    width: 300px;
}

.commentPic {
    font-size: 1.4rem;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(155, 148, 205), rgb(205, 148, 148));
    padding-bottom: 70px;
}

.aboutSection h2 {
    font-size: 4.5rem;
}

.aboutSection p {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 1.6rem;
}

.skillSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(205, 148, 148), rgb(148, 205, 181)); 
    padding-bottom: 70px;
}

.skillSection h2{
    font-size: 4.5rem;
}

.intermediateLanguages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
}

.lan1{
    display: flex;
    gap: 20px;
}

.lan2{
    display: flex;
    gap: 20px;
}

.languageIcon {
    width: 90px;
}

.languageIcon:hover {
    transform: scale(1.2);
    transition: 0.45s;
}

.cIcon:hover {
    transform: scale(1.2);
    transition: 0.45s
}

.skillSection h3 {
    font-size: 3rem;
    padding: 30px 0 30px;
}

.basicLanguages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 30px;
}

.lan3 {
    display: flex;
    gap: 20px;
}

.lan4 {
    display: flex;
    gap: 20px;
}

.cIcon {
    width: 90px;
}

.portfolioSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(148, 205, 181), rgb(195, 205, 148));
    padding-bottom: 70px;
}

.portfolioSection h2 {
    font-size: 4.5rem;
}

.portfolioIcons {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(195, 205, 148);
    padding-bottom: 100px;
}

.contactSection h2 {
    font-size: 4.5rem;
    text-align: center;
}

.contactForm {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 600;
    gap: 5px;
}

input {
    width: 300px;
    height: 30px;
    font-size: 1.6rem;
}

textarea {
    width: 300px;
    height: 200px;
    font-size: 1.6rem;
}

.buttonForm {
    width: 300px;
    height: 50px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 1.5rem;
    align-self: center;
}


@media only screen and (min-width: 600px){
    .ulNav li {
        font-size: 2.2rem;
    }

    .textDJS {
        font-size: 7rem;
    }

    .title p{
        font-size: 2.5rem;
    }

    .demianPic {
        width: 400px;
    }

    .commentPic {
        font-size: 1.8rem;
    }

    .aboutSection h2 {
        font-size: 7rem;
    }

    .aboutSection p {
        font-size: 2.2rem;
    }

    .skillSection h2 {
        font-size: 7rem;
    }

    .lan1 {
        gap: 50px;
    }

    .lan2 {
        gap: 50px;
    }

    .languageIcon {
        width: 120px;
    }

    .cIcon {
        width: 120px;
    }

    .skillSection h3 {
        font-size: 5rem;
        padding: 60px 0 60px;
    }

    .lan3 {
        gap: 50px;
        padding-bottom: 30px;
    }

    .lan4 {
        gap: 50px;
    }

    .portfolioSection h2 {
        font-size: 7rem;
    }

    .portfolioIcons {
        gap: 80px
    }

    .contactSection h2 {
        font-size: 7rem;
    }

    input {
        width: 500px;
        height: 30px;
        font-size: 1.7rem;
    }

    textarea {
        width: 500px;
        height: 250px;
        font-size: 1.7rem;
    }

    .buttonForm {
        width: 500px;
        height: 70px;
        font-size: 2.5rem;
    }
}


@media only screen and (min-width: 768px){
    .header .button {
        display: none;
    }

    .header {
        height: 100px;
        flex-flow: row;
        justify-content: space-between;
    }

    .DJSLogo {
        margin-left: 15px;
    }

    .header .navBar {
        height: 100px;
        pointer-events: auto;
        overflow: visible;
        flex-direction: row;
        justify-content: flex-end;
    }

    .ulNav {
        flex-direction: row;
    }

    .ulNav li {
        font-size: 1.3rem;
        list-style-type: none;
        font-weight: 700;
    }

    .ulNav li:hover {
        background-color: rgb(66, 66, 66);
        transition: .4s;
    }

}

@media only screen and (min-width: 992px) {
    .ulNav li {
        font-size: 1.8rem;
    }

    .textDJS {
        font-size: 7.5rem;
    }

    .title p{
        font-size: 2.6rem;
    }

    .demianPic {
        width: 500px;
    }

    .commentPic {
        font-size: 2rem;
    }

    .aboutSection h2 {
        font-size: 7.5rem;
    }

    .aboutSection p {
        font-size: 2.2rem;
    }

    .skillSection h2 {
        font-size: 7.5rem;
    }

    .lan1 {
        gap: 70px;
    }

    .lan2 {
        gap: 70px;
    }

    .languageIcon {
        width: 140px;
    }

    .cIcon {
        width: 140px;
    }

    .skillSection h3 {
        font-size: 5.5rem;
        padding: 60px 0 60px;
    }

    .lan3 {
        gap: 70px;
        padding-bottom: 30px;
    }

    .lan4 {
        gap: 70px;
    }

    .portfolioSection h2 {
        font-size: 7.5rem;
    }

    .portfolioIcons {
        gap: 100px
    }

    .contactSection h2 {
        font-size: 7.5rem;
    }
}

@media only screen and (min-width: 1200px){
    .ulNav li {
        font-size: 2.2rem;
    }
}

/** 
Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px)

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px)

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px)

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px)

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px)
**/
